/* app css stylesheet */

/**
 * Global
 */
body {
  color: #FFD6D6;
  background-color: #330000;
  line-height: 16px
}

li {
  line-height: 18px;
}

.container {
  width: 908px;
}

.span1{
  width: 65px;
}

.span2{
  width: 130px;
}

.span5{
  width: 370px;
}

.span7{
  width: 538px;
}

.span10{
  width: 758px;
}

.span11{
  width: 842px;
}

.well {
  background-color: #330000;
}

.btn-custom {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

/**
 * Cat List Partial
 */
.catGrid {
  height: 255px;
}

.thumbnails > li {
  margin-bottom: 2px;
  margin-left: 2px;
}

.thumbnails > .span2 {
  width: 61px;
}

.thumbnail {
	position: relative;
  border: none;
  padding: 3px;
  margin: 0;
}

.thumbnail:hover {
	background-color: #006DCC;
}

.thumbnail > img {
	height: 55px;
  width: 55px;
}

.thumbnail .caption {
	position: absolute;
	width: 90%;
	bottom: 0;
	padding: 0;
}

.catName{
  padding-top: .3em;
  font-size: 2em;
	text-align: center;
}

.listButtons {
  width: 965px;
}

.listButtons .btn:first-child {
  margin-left: 25px;
}

.listButtons button.btn{
  margin-left: 28px;
}

.listButtons p {
  font-size: 12px;
  line-height: 2px;
  padding-left: 6px;
}
/**
 * Cat Detail Partial
 */
.catDetail h2 {
  font-size: 20px;
  margin: 2px 0 0 0;
}

.catDetail .span11 {
  overflow: none;
}

.catDetail .well {
  height: 200px;
  overflow: auto;
}

.catDetailPane {
  height: 275px;
}

.carousel {
	height: 200px;
}

.item > img {
	display: block;
	margin: 0 auto;
	line-height: 1;
	max-height: 200px;
}

button.back {
  margin: 10px 0 0 5px;
}

.catOptions {
  padding-top: .4em;
  font-size: 1.2em;
  text-align: center; 
}

/* Footer */
.headerMsg {
  margin: 0px;
  width: 100%
  text-align: center;
}

.headerMsg h5, .headerMsg h6{
  line-height: 2px;
  text-align: center;
}