<div class="row span12">
  
  <!-- Grid of cat thumbnails -->
  <ul class="thumbnails">
    <li ng-repeat="cat in cats" ng-click="getDetail(cat.id)" class="span2">
     
      <!-- Twitter Bootstrap 'Thumbnail' Component -->
      <div class="thumbnail">
        <!-- Remember to use 'ng-src' for images -->
        <img ng-src="{{cat.thumbnail}}">
        <div class="caption">
          <h4>{{cat.name}}</h4>
        </div>
      </div>

    </li>
  </ul>

</div> <!-- row span12 -->

<!-- Nav buttons -->
<div id="listNav" class="row span12">
  <button class='btn btn-primary span2' ng-click="changePage('prev')">Prev</button>
  <button class='btn btn-primary pull-right span2' ng-click="changePage('next')">Next</button>
</div>
